.card-container {
    display: flex;
    padding: 1% 15%;
    justify-content: space-evenly;
    gap: 20px;
    
}
.cards {
    
    border: solid;
    border-width: 1px;
    border-color: black;

    padding: 2%;

    border-radius: 15px;

    transition: 0.5s;

}
.cards:hover {
    box-shadow:5px 5px 12px rgba(69, 69, 69, 0.3);
}
.cards>img{
    text-align: center;
}
.cards>h4{
    margin-bottom: 1%;
}
.cards>p {
    margin-top: 5%;
   
}
.cards>a {
    font-size: 17px;
    color: rgb(12, 108, 181);
    text-decoration: none;

}

