.dept-container {
    display: flex;
    justify-content: space-evenly;
    gap: 1%;
    margin: 1% 10%;
    
}
.dept-container>a {
    padding: 1% 3%;
    background-color:rgb(226, 226, 226);
   text-decoration: none;
   color: black;
   border-radius: 25px;
   transition: 0.5s;
}

.dept-container>a:hover {

    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}